name: deploy to ec2 

on: 
  push: 
    branches: 
      - main
permissions: 
  id-token: write 
  contents: read

jobs: 
  deploy:
    runs-on: ubuntu-latest
    steps: 
      - name: checkout code
        uses: actions/checkout@v5
      - name: aws credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with: 
          role-to-assume: arn:aws:iam::215243956712:role/GithubAction
          aws-region: us-east-1
          
      - name: access aws s3
        run: aws s3 sync . s3://ec2-project-1122333/ --delete

      - name: trigger ssm command 
        run: |
            aws ssm send-command \
            --document-name "AWS-RunShellScript" \
            --parameters 'commands=["cd /var/www/html","aws s3 sync s3://ec2-project-1122333/ . --delete","service nginx restart"]' \
            --targets "Key=project,Values=AI" \
            --comment "deploy lastest code from s3"
 
        
  
      
